openapi: 3.0.1
info:
  description: |-
    Rockset's REST API allows for creating and managing all resources in Rockset. Each supported endpoint is documented below.

    All requests must be authorized with a Rockset API key, which can be created in the [Rockset console](https://console.rockset.com). The API key must be provided as `ApiKey <api_key>` in the `Authorization` request header. For example:
    ```
    Authorization: ApiKey aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT
    ```

    All endpoints are only accessible via https.

    Build something awesome!
  title: REST API
  version: v1
servers:
- url: https://api.use1a1.rockset.com/
tags:
- name: Aliases
- name: API Keys
- name: Collections
- name: Custom Roles
- name: Documents
- name: Integrations
- name: Organizations
- name: Queries
- name: Query Lambdas
- name: Shared Lambdas
- name: Sources
- name: Users
- name: Views
- name: Virtual Instances
- name: Workspaces
paths:
  /v1/orgs/self/aliases:
    get:
      description: Retrieve all aliases in an organization
      operationId: listAliases
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAliasesResponse'
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Aliases
      tags:
      - Aliases
      x-rename: list
  /v1/orgs/self/ws/{workspace}/aliases:
    get:
      description: Retrieve all aliases in a workspace.
      operationId: workspaceAliases
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAliasesResponse'
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Aliases in Workspace
      tags:
      - Aliases
    post:
      description: Create new alias in a workspace.
      operationId: createAlias
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAliasRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAliasResponse'
          description: alias created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Alias
      tags:
      - Aliases
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/ws/{workspace}/aliases/{alias}:
    delete:
      description: Delete an alias.
      operationId: deleteAlias
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the alias
        in: path
        name: alias
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAliasResponse'
          description: alias deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Alias
      tags:
      - Aliases
      x-rename: delete
    get:
      description: Get details about an alias
      operationId: getAlias
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the alias
        in: path
        name: alias
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAliasResponse'
          description: alias retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Alias
      tags:
      - Aliases
      x-rename: get
    post:
      description: Update alias in a workspace.
      operationId: updateAlias
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the alias
        in: path
        name: alias
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAliasResponse'
          description: alias updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update Alias
      tags:
      - Aliases
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/users/self/apikeys:
    post:
      description: Create a new API key for the authenticated user.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create API Key
      tags:
      - API Keys
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/users/{user}/apikeys:
    get:
      description: List API key metadata for any user in your organization.
      operationId: listApiKeys
      parameters:
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: API keys retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List API Keys
      tags:
      - API Keys
      x-rename: list
  /v1/orgs/self/users/{user}/apikeys/{name}:
    delete:
      description: Delete an API key for any user in your organization.
      operationId: deleteApiKey
      parameters:
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete API Key
      tags:
      - API Keys
      x-rename: delete
    get:
      description: Retrieve a particular API key for any user in your organization.
      operationId: getApiKey
      parameters:
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Reveal full key.
        example: true
        in: query
        name: reveal
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponse'
          description: API key retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve API Key
      tags:
      - API Keys
      x-rename: get
    post:
      description: Update the state of an API key for any user in your organization.
      operationId: updateApiKey
      parameters:
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateApiKeyResponse'
          description: API key successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update API Key State
      tags:
      - API Keys
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/collections:
    get:
      description: Retrieve all collections in an organization.
      operationId: listCollections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: collections retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Collections
      tags:
      - Collections
      x-rename: list
  /v1/orgs/self/ws/{workspace}/collections:
    get:
      description: Retrieve all collections in a workspace.
      operationId: workspaceCollections
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: collections retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Collections in Workspace
      tags:
      - Collections
    post:
      description: Create new collection in a workspace.
      operationId: createCollection
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResponse'
          description: collection created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Collection
      tags:
      - Collections
      x-codegen-request-body-name: body
  /v1/orgs/self/ws/{workspace}/collections/{collection}:
    delete:
      description: Delete a collection and all its documents from Rockset.
      operationId: deleteCollection
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the collection
        in: path
        name: collection
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCollectionResponse'
          description: collection deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Collection
      tags:
      - Collections
      x-rename: delete
    get:
      description: Get details about a collection.
      operationId: getCollection
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the collection
        in: path
        name: collection
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionResponse'
          description: collection retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Collection
      tags:
      - Collections
      x-rename: get
    put:
      description: Update details about a collection.
      operationId: updateCollection
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the collection
        in: path
        name: collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionResponse'
          description: collection updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update Collection
      tags:
      - Collections
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/ws/{workspace}/collections/{collection}/offsets/commit:
    post:
      description: Determines if the collection includes data at or after the specified
        fence(s) for close read-after-write semantics.
      operationId: getCollectionOffsets
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: name of the collection
        in: path
        name: collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionCommitRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionCommit'
          description: Successfully returned collection commit
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Collection Commit
      tags:
      - Collections
      x-codegen-request-body-name: body
  /v1/orgs/self/roles:
    get:
      description: List all roles for your organization.
      operationId: listRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesResponse'
          description: roles retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Roles
      tags:
      - Custom Roles
      x-rename: list
    post:
      description: Create a role for your organization.
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        description: JSON Object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create a Role
      tags:
      - Custom Roles
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/roles/{roleName}:
    delete:
      description: Delete a role for your organization.
      operationId: deleteRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete a Role
      tags:
      - Custom Roles
      x-rename: delete
    get:
      description: Retrieve a role by name for your organization.
      operationId: getRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve role
      tags:
      - Custom Roles
      x-rename: get
    post:
      description: Update a role for your organization.
      operationId: updateRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        description: JSON Object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update a Role
      tags:
      - Custom Roles
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/ws/{workspace}/collections/{collection}/docs:
    delete:
      description: Delete documents from a collection.
      operationId: deleteDocuments
      parameters:
      - description: Name of the workspace.
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: Name of the collection.
        in: path
        name: collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDocumentsResponse'
          description: documents deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Documents
      tags:
      - Documents
      x-codegen-request-body-name: body
    patch:
      description: Update existing documents in a collection.
      operationId: patchDocuments
      parameters:
      - description: Name of the workspace.
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: Name of the collection.
        in: path
        name: collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDocumentsRequest'
        description: JSON Patch objects
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchDocumentsResponse'
          description: Documents patched successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: content too large
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Patch Documents
      tags:
      - Documents
      x-codegen-request-body-name: body
    post:
      description: Add documents to a collection.
      operationId: addDocuments
      parameters:
      - description: Name of the workspace.
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      - description: Name of the collection.
        in: path
        name: collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDocumentsRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDocumentsResponse'
          description: documents added successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: content too large
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Add Documents
      tags:
      - Documents
      x-codegen-request-body-name: body
  /v1/orgs/self/integrations:
    get:
      description: List all integrations in an organization.
      operationId: listIntegrations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsResponse'
          description: integrations retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Integrations
      tags:
      - Integrations
      x-rename: list
    post:
      description: Create a new integration.
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        description: integration credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationResponse'
          description: integration created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Integration
      tags:
      - Integrations
      x-codegen-request-body-name: body
  /v1/orgs/self/integrations/{integration}:
    delete:
      description: Remove an integration.
      operationId: deleteIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIntegrationResponse'
          description: integration deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Integration
      tags:
      - Integrations
      x-rename: delete
    get:
      description: Retrieve information about a single integration.
      operationId: getIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationResponse'
          description: integration retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Integration
      tags:
      - Integrations
      x-rename: get
    put:
      description: Update an existing integration.
      operationId: updateIntegration
      parameters:
      - in: path
        name: integration
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
        description: integration configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIntegrationResponse'
          description: integration updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
[...]
