openapi: 3.0.1
info:
  description: |-
    Rockset's REST API allows for creating and managing all resources in Rockset. Each supported endpoint is documented below.

    All requests must be authorized with a Rockset API key, which can be created in the [Rockset console](https://console.rockset.com). The API key must be provided as `ApiKey <api_key>` in the `Authorization` request header. For example:
    ```
    Authorization: ApiKey aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT
    ```

    All endpoints are only accessible via https.

    Build something awesome!
  title: REST API
  version: v1
servers:
- url: https://api.rs2.usw2.rockset.com/
tags:
- name: API Keys
- name: Aliases
- name: Collections
- name: Documents
- name: IP Allowlist
- name: Integrations
- name: Organizations
- name: Queries
- name: Query Lambdas
- name: Users
- name: Virtual Instances
- name: Workspaces
paths:
  /v1/orgs/self:
    get:
      description: Retrieve information about current organization.
      operationId: getOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: organization retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Organization
      tags:
      - Organizations
  /v1/orgs/self/aliases:
    get:
      description: Retrieve all aliases in an organization
      operationId: listAliases
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAliasesResponse'
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Aliases
      tags:
      - Aliases
  /v1/orgs/self/collections:
    get:
      description: Retrieve all collections in an organization.
      operationId: listCollections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: collections retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Collections
      tags:
      - Collections
  /v1/orgs/self/integrations:
    get:
      description: List all integrations in an organization.
      operationId: listIntegrations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsResponse'
          description: integrations retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Integrations
      tags:
      - Integrations
    post:
      description: Create a new integration.
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        description: integration credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationResponse'
          description: integration created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Integration
      tags:
      - Integrations
      x-codegen-request-body-name: body
  /v1/orgs/self/integrations/{integration}:
    delete:
      description: Remove an integration.
      operationId: deleteIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIntegrationResponse'
          description: integration deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Integration
      tags:
      - Integrations
    get:
      description: Get information about a single integration.
      operationId: getIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationResponse'
          description: integration retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Integration
      tags:
      - Integrations
  /v1/orgs/self/ip/allowlist:
    get:
      operationId: listAllowlistIps
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIpAllowlistsResponse'
          description: IP Allowlists retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List IP Allowlist Entries
      tags:
      - IP Allowlist
    post:
      description: Create a new entry to allow an IP address
      operationId: createAllowlistIp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIpAllowlistRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIpAllowlistResponse'
          description: IP Allowlist network policy created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create IP Allowlist Network Policy
      tags:
      - IP Allowlist
      x-codegen-request-body-name: body
  /v1/orgs/self/ip/allowlist/{name}:
    delete:
      description: Delete an entry for IP allowlist network policy.
      operationId: deleteAllowlistIp
      parameters:
      - description: name of the IP allowlist network policy
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIpAllowlistResponse'
          description: IP Allowlist network policy deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete IP Allowlist Network Policy
      tags:
      - IP Allowlist
    get:
      description: Get details about a IP Allowlist network policy
      operationId: getAllowlistIp
      parameters:
      - description: name of the IP Allowlist network policy
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIpAllowlistResponse'
          description: IP Allowlist network policy retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get IP Allowlist Network Policy
      tags:
      - IP Allowlist
  /v1/orgs/self/lambdas:
    get:
      description: List all Query Lambdas in an organization.
      operationId: listAllQueryLambdas
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryLambdasResponse'
          description: Query Lambdas listed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Query Lambdas
      tags:
      - Query Lambdas
  /v1/orgs/self/lambdas/tags:
    get:
      description: List all distinct Query Lambda tags in an organization.
      operationId: listOrganizationTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryLambdaTagsResponse'
          description: tags listed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List All Query Lambda Tags
      tags:
      - Query Lambdas
  /v1/orgs/self/lambdas/tags/{tag}:
    get:
      description: List all Query Lambda versions associated with a given tag.
      operationId: listQueryLambdaTagVersions
      parameters:
      - description: name of the tag
        in: path
        name: tag
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryLambdaVersionsResponse'
          description: versions listed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Query Lambda Tag Versions
      tags:
      - Query Lambdas
  /v1/orgs/self/queries:
    post:
      description: Make a SQL query to Rockset.
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
          description: query executed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Query
      tags:
      - Queries
      x-codegen-request-body-name: body
  /v1/orgs/self/queries/validations:
    post:
      description: Validate a SQL query with Rockset's parser and planner.
      operationId: validate
      parameters:
      - in: query
        name: parameters
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateQueryResponse'
          description: query validated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Validate Query
      tags:
      - Queries
      x-codegen-request-body-name: body
  /v1/orgs/self/users:
    get:
      description: Retrieve all users for an organization.
      operationId: listUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
          description: users retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Users
      tags:
      - Users
    post:
      description: Create a new user for an organization.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
          description: user created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create User
      tags:
      - Users
      x-codegen-request-body-name: body
  /v1/orgs/self/users/self:
    get:
      description: Retrieve currently authenticated user.
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: user retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Current User
      tags:
      - Users
  /v1/orgs/self/users/self/apikeys:
    get:
      description: List all API keys for the authenticated user.
      operationId: listApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: API keys retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List API Keys
      tags:
      - API Keys
    post:
      description: Create a new API key for the authenticated user.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create API Key
      tags:
      - API Keys
      x-codegen-request-body-name: body
  /v1/orgs/self/users/self/apikeys/{name}:
    delete:
      description: Delete an API key for the authenticated user.
      operationId: deleteApiKey
      parameters:
      - description: name of the API key
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete API Key
      tags:
      - API Keys
  /v1/orgs/self/users/{user}:
    delete:
      description: Delete a user from an organization.
      operationId: deleteUser
      parameters:
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
          description: user deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete User
      tags:
      - Users
  /v1/orgs/self/users/{user}/apikeys:
    get:
      description: List all API keys for any user in your organization. Accessible
        to Admin users only.
      operationId: listApiKeysAdmin
      parameters:
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: API keys retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List API Keys (any user)
      tags:
      - API Keys
    post:
      description: Create a new API key for any user in your organization. Accessible
        to Admin users only.
      operationId: createApiKeyAdmin
      parameters:
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create API Key (any user)
      tags:
      - API Keys
      x-codegen-request-body-name: body
  /v1/orgs/self/users/{user}/apikeys/{name}:
    delete:
      description: Delete an API key for any user in your organization. Accessible
        to Admin users only.
      operationId: deleteApiKeyAdmin
      parameters:
      - description: name of the API key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete API Key (any user)
      tags:
      - API Keys
  /v1/orgs/self/virtualinstances:
    get:
      description: Retrieve all virtual instances in an organization.
      operationId: listVirtualInstances
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualInstancesResponse'
          description: virtual instances retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Virtual Instances
      tags:
      - Virtual Instances
  /v1/orgs/self/virtualinstances/{virtualInstanceId}:
    get:
      description: Get details about a virtual instance.
      operationId: getVirtualInstance
      parameters:
      - description: uuid of the virtual instance
        in: path
        name: virtualInstanceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVirtualInstanceResponse'
          description: virtual instance retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Virtual Instance
      tags:
      - Virtual Instances
    post:
      description: Update the properties of a virtual instance.
      operationId: setVirtualInstance
      parameters:
      - description: uuid of the virtual instance
        in: path
        name: virtualInstanceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVirtualInstanceRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVirtualInstanceResponse'
          description: virtual instance updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update Virtual Instance
      tags:
      - Virtual Instances
      x-codegen-request-body-name: body
  /v1/orgs/self/ws:
    get:
      description: List all workspaces in an organization.
      operationId: listWorkspaces
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspacesResponse'
          description: workspaces retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Workspaces
      tags:
      - Workspaces
    post:
      description: Create a new workspace.
      operationId: createWorkspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
        description: workspace details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWorkspaceResponse'
          description: workspace created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Workspace
      tags:
      - Workspaces
      x-codegen-request-body-name: body
  /v1/orgs/self/ws/{workspace}:
    delete:
      description: Remove a workspace.
      operationId: deleteWorkspace
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkspaceResponse'
          description: workspace deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Workspace
      tags:
      - Workspaces
    get:
      description: Get information about a single workspace.
      operationId: getWorkspace
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkspaceResponse'
          description: workspace retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Workspace
      tags:
      - Workspaces
  /v1/orgs/self/ws/{workspace}/aliases:
    get:
      description: Retrieve all aliases in a workspace.
      operationId: workspaceAliases
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAliasesResponse'
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Aliases for Workspace
      tags:
      - Aliases
    post:
      description: Create new alias in a workspace.
      operationId: createAlias
      parameters:
      - description: name of the workspace
        in: path
        name: workspace
        required: true
        schema:
          default: commons
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAliasRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAliasResponse'
          description: alias created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
[...]
