openapi: 3.0.1
info:
  description: |-
    Rockset's REST API allows for creating and managing all resources in Rockset. Each supported endpoint is documented below.

    All requests must be authorized with a Rockset API key, which can be created in the [Rockset console](https://console.rockset.com). The API key must be provided as `ApiKey <api_key>` in the `Authorization` request header. For example:
    ```
    Authorization: ApiKey aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT
    ```

    All endpoints are only accessible via https.

    Build something awesome!
  title: REST API
  version: v1
servers:
- url: https://api.use1a1.rockset.com/
tags:
- name: API Keys
- name: Aliases
- name: Collections
- name: Custom Roles
- name: Documents
- name: Integrations
- name: Organizations
- name: Queries
- name: Query Lambdas
- name: Shared Lambdas
- name: Users
- name: Views
- name: Virtual Instances
- name: Workspaces
paths:
  /v1/orgs/self:
    get:
      description: Retrieve information about current organization.
      operationId: getOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: organization retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Get Organization
      tags:
      - Organizations
      x-rename: get
  /v1/orgs/self/aliases:
    get:
      description: Retrieve all aliases in an organization
      operationId: listAliases
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAliasesResponse'
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Aliases
      tags:
      - Aliases
      x-rename: list
  /v1/orgs/self/collections:
    get:
      description: Retrieve all collections in an organization.
      operationId: listCollections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: collections retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Collections
      tags:
      - Collections
      x-rename: list
  /v1/orgs/self/integrations:
    get:
      description: List all integrations in an organization.
      operationId: listIntegrations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsResponse'
          description: integrations retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Integrations
      tags:
      - Integrations
      x-rename: list
    post:
      description: Create a new integration.
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        description: integration credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationResponse'
          description: integration created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create Integration
      tags:
      - Integrations
      x-codegen-request-body-name: body
  /v1/orgs/self/integrations/{integration}:
    delete:
      description: Remove an integration.
      operationId: deleteIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIntegrationResponse'
          description: integration deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete Integration
      tags:
      - Integrations
      x-rename: delete
    get:
      description: Retrieve information about a single integration.
      operationId: getIntegration
      parameters:
      - description: name of the integration
        in: path
        name: integration
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationResponse'
          description: integration retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Integration
      tags:
      - Integrations
      x-rename: get
  /v1/orgs/self/lambdas:
    get:
      description: List all Query Lambdas in an organization.
      operationId: listAllQueryLambdas
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryLambdasResponse'
          description: Query Lambdas listed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Query Lambdas
      tags:
      - Query Lambdas
  /v1/orgs/self/queries:
    get:
      description: Lists actively queued and running queries.
      operationId: listActiveQueries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueriesResponse'
          description: successfully fetched queries
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Queries
      tags:
      - Queries
    post:
      description: Make a SQL query to Rockset.
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
          description: query executed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Execute SQL Query
      tags:
      - Queries
      x-codegen-request-body-name: body
  /v1/orgs/self/queries/validations:
    post:
      description: Validate a SQL query with Rockset's parser and planner.
      operationId: validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateQueryResponse'
          description: query validated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Validate Query
      tags:
      - Queries
      x-codegen-request-body-name: body
  /v1/orgs/self/queries/{queryId}:
    delete:
      description: Attempts to cancel an actively-running query.
      operationId: cancelQuery
      parameters:
      - in: path
        name: queryId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelQueryResponse'
          description: Successfully canceled query
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Cancel Query
      tags:
      - Queries
    get:
      description: Returns information about a query.
      operationId: getQuery
      parameters:
      - in: path
        name: queryId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQueryResponse'
          description: Successfully fetched query info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Query
      tags:
      - Queries
  /v1/orgs/self/queries/{queryId}/pages:
    get:
      description: Returns a page of query results.
      operationId: getQueryResults
      parameters:
      - in: path
        name: queryId
        required: true
        schema:
          type: string
      - description: Cursor to current page. If unset, will default to the first page.
        in: query
        name: cursor
        schema:
          type: string
      - description: Number of documents to fetch.
        in: query
        name: docs
        schema:
          format: int32
          type: integer
      - description: Offset from the cursor of the first document to be returned
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPaginationResponse'
          description: successfully fetched query results
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Query Results Page
      tags:
      - Queries
  /v1/orgs/self/roles:
    get:
      description: List all roles for your organization.
      operationId: listRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesResponse'
          description: roles retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Roles
      tags:
      - Custom Roles
      x-rename: list
    post:
      description: Create a role for your organization.
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        description: JSON Object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create a Role
      tags:
      - Custom Roles
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/roles/{roleName}:
    delete:
      description: Delete a role for your organization.
      operationId: deleteRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete a Role
      tags:
      - Custom Roles
      x-rename: delete
    get:
      description: Retrieve a role by name for your organization.
      operationId: getRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve role
      tags:
      - Custom Roles
      x-rename: get
    post:
      description: Update a role for your organization.
      operationId: updateRole
      parameters:
      - in: path
        name: roleName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        description: JSON Object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: role updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update a Role
      tags:
      - Custom Roles
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/users:
    get:
      description: Retrieve all users for an organization.
      operationId: listUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
          description: users retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Users
      tags:
      - Users
      x-rename: list
    post:
      description: Create a new user for an organization.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
          description: user created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create User
      tags:
      - Users
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/users/self:
    get:
      description: Retrieve currently authenticated user.
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: user retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Current User
      tags:
      - Users
  /v1/orgs/self/users/self/apikeys:
    post:
      description: Create a new API key for the authenticated user.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Create API Key
      tags:
      - API Keys
      x-rename: create
      x-codegen-request-body-name: body
  /v1/orgs/self/users/self/preferences:
    get:
      description: Get all notification preferences.
      operationId: listUnsubscribePreferences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnsubscribePreferencesResponse'
          description: Notification preferences retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve Notification Preferences
      tags:
      - Users
    post:
      description: Update notification preference.
      operationId: updateUnsubscribePreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUnsubscribePreferencesRequest'
        description: JSON Object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUnsubscribePreferencesResponse'
          description: Notification preference created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update Notification Preferences
      tags:
      - Users
      x-codegen-request-body-name: body
  /v1/orgs/self/users/{user}:
    delete:
      description: Delete a user from an organization.
      operationId: deleteUser
      parameters:
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
          description: user deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete User
      tags:
      - Users
      x-rename: delete
    get:
      description: Retrieve user by email.
      operationId: getUser
      parameters:
      - description: user email
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: user found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve User
      tags:
      - Users
      x-rename: get
    post:
      description: Update a user in an organization.
      operationId: updateUser
      parameters:
      - description: email of the user to update
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: user updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update User
      tags:
      - Users
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/users/{user}/apikeys:
    get:
      description: List API key metadata for any user in your organization.
      operationId: listApiKeys
      parameters:
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: API keys retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List API Keys
      tags:
      - API Keys
      x-rename: list
  /v1/orgs/self/users/{user}/apikeys/{name}:
    delete:
      description: Delete an API key for any user in your organization.
      operationId: deleteApiKey
      parameters:
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Delete API Key
      tags:
      - API Keys
      x-rename: delete
    get:
      description: Retrieve a particular API key for any user in your organization.
      operationId: getApiKey
      parameters:
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Reveal full key.
        example: true
        in: query
        name: reveal
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponse'
          description: API key retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Retrieve API Key
      tags:
      - API Keys
      x-rename: get
    post:
      description: Update the state of an API key for any user in your organization.
      operationId: updateApiKey
      parameters:
      - description: Name of the API key.
        example: my-key
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Email of the API key owner. Use `self` to specify the currently
          authenticated user.
        example: admin@me.com
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
        description: JSON object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateApiKeyResponse'
          description: API key successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: Update API Key State
      tags:
      - API Keys
      x-rename: update
      x-codegen-request-body-name: body
  /v1/orgs/self/views:
    get:
      description: Retrieve all views in an organization
      operationId: listViews
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListViewsResponse'
          description: views retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not ready
      summary: List Views
      tags:
      - Views
      x-rename: list
  /v1/orgs/self/virtualinstances:
    get:
      description: Retrieve all virtual instances in an organization.
      operationId: listVirtualInstances
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualInstancesResponse'
          description: virtual instances retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: bad gateway
        "503":
          content:
            application/json:
[...]
